//////////////////////////////////

#navPage ul {
    background-color: #eeeeee;
    text-align: left;
    margin: 0;
    padding: 0;
    border-left: 1px solid gray;
    border-top: 1px solid white;
    border-bottom: 1px solid gray;
}
#navPage li {
    list-style-type: none;
    padding: 0 10px;
    border-right: 1px solid gray;
    display: inline
}
#navPage input {
    font-size: 8pt;
    border-color: #e1e8ff;
    border-style: none;
}