HTML {
	OVERFLOW-Y: scroll
}
A:link {
	COLOR: #0066cc; TEXT-DECORATION: none
}
A:visited {
	COLOR: #0066cc; TEXT-DECORATION: none
}
A:hover {
	COLOR: #333333; TEXT-DECORATION: underline
}
A:active {
	COLOR: #333333; TEXT-DECORATION: underline
}
A.A1:link {
	COLOR: #003366; TEXT-DECORATION: underline
}
A.A1:visited {
	COLOR: #003366; TEXT-DECORATION: underline
}
A.A1:active {
	COLOR: #124164; TEXT-DECORATION: underline
}
A.A1:hover {
	COLOR: #124164; TEXT-DECORATION: underline
}
BODY {
	SCROLLBAR-FACE-COLOR: #dee3e7; FONT-SIZE: 12pt; SCROLLBAR-HIGHLIGHT-COLOR: #D6E4EF; SCROLLBAR-SHADOW-COLOR: #dee3e7; SCROLLBAR-3DLIGHT-COLOR: #d1d7dc; SCROLLBAR-ARROW-COLOR: #006699; SCROLLBAR-TRACK-COLOR: #efefef; FONT-FAMILY: Verdana; SCROLLBAR-DARKSHADOW-COLOR: #98aab1
}

IMG{
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
TABLE {
	BORDER-COLLAPSE: collapse
}
.bodycolor {
	BACKGROUND: #d6e4ef
}
.loginbodycolor {
	BACKGROUND: #6ba2d8
}
.topbar {
	FONT-SIZE: 9pt; BACKGROUND: url(topbar.gif) #c4d9ef
}
.topbar2 {
	FONT-SIZE: 9pt; BACKGROUND: url(menubg.gif) #c4d9ef
}
.panel {
	BACKGROUND: #c4d9ef; COLOR: #654125
}
.timebar {
	BACKGROUND: #cedff1
}
.menu_tr1 {
	FONT-SIZE: 9pt; BACKGROUND-IMAGE: url(topbar.gif); CURSOR: pointer; COLOR: #000000
}
.menu_tr2 {
	FONT-SIZE: 9pt; BACKGROUND: #cedff1; CURSOR: pointer; COLOR: #000000
}
.small {
	FONT-SIZE: 9pt
}
.small1 {
	FONT-SIZE: 9pt; COLOR: #000000
}
.big {
	FONT-SIZE: 12pt
}
.big1 {
	FONT-SIZE: 12pt; COLOR: #000000
}
.big2 {
	FONT-SIZE: 18pt
}
.big3 {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #124164
}
.big4 {
	COLOR: #ff0000
}
.verybig {
	FONT-SIZE: 24pt
}
INPUT.SmallButton {
	BORDER-RIGHT: #6e91c7 1px solid; BORDER-TOP: #6e91c7 1px solid; FONT-SIZE: 9pt; BACKGROUND: url(button_bg.gif) #f4fbe1; VERTICAL-ALIGN: middle; BORDER-LEFT: #6e91c7 1px solid; BORDER-BOTTOM: #6e91c7 1px solid; HEIGHT: 20px; TEXT-DECORATION: none
}
INPUT.ArrowButton {
	BORDER-RIGHT: #6e91c7 1px solid; BORDER-TOP: #6e91c7 1px solid; FONT-SIZE: 9pt; BACKGROUND: url(button_bg.gif) #f4fbe1; VERTICAL-ALIGN: middle; BORDER-LEFT: #6e91c7 1px solid; BORDER-BOTTOM: #6e91c7 1px solid; HEIGHT: 20px; TEXT-DECORATION: none
}
INPUT.SmallButton:hover {
	BORDER-RIGHT: #80aa00 1px solid; BORDER-TOP: #99cc00 1px solid; FONT-SIZE: 9pt; BACKGROUND: url(bg_input_btn_hover.png) #f4fadf; BORDER-LEFT: #99cc00 1px solid; COLOR: #395500; BORDER-BOTTOM: #80aa00 1px solid
}
INPUT.ArrowButton:hover {
	BORDER-RIGHT: #80aa00 1px solid; BORDER-TOP: #99cc00 1px solid; FONT-SIZE: 9pt; BACKGROUND: url(bg_input_btn_hover.png) #f4fadf; BORDER-LEFT: #99cc00 1px solid; COLOR: #395500; BORDER-BOTTOM: #80aa00 1px solid
}
INPUT.BigButton {
	BORDER-RIGHT: #6e91c7 1px solid; BORDER-TOP: #6e91c7 1px solid; FONT-SIZE: 12px; BACKGROUND: url(button_bg.gif) #f4fbe1; MARGIN: 1px; VERTICAL-ALIGN: middle; BORDER-LEFT: #6e91c7 1px solid; BORDER-BOTTOM: #6e91c7 1px solid; HEIGHT: 12px; TEXT-DECORATION: none
}
INPUT.BigButton:hover {
	BORDER-RIGHT: #80aa00 1px solid; BORDER-TOP: #99cc00 1px solid; FONT-SIZE: 12px; BACKGROUND: url(bg_input_btn_hover.png) #f4fadf; BORDER-LEFT: #99cc00 1px solid; COLOR: #395500; BORDER-BOTTOM: #80aa00 1px solid
}
INPUT.SmallButtonAHover {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BACKGROUND: url(btn_a.png) no-repeat 0px -21px; BORDER-LEFT: 0px; WIDTH: 50px; CURSOR: pointer; COLOR: #000000; BORDER-BOTTOM: 0px; HEIGHT: 21px
}
INPUT.SmallButtonA {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BACKGROUND: url(btn_a.png) no-repeat; BORDER-LEFT: 0px; WIDTH: 50px; CURSOR: pointer; COLOR: #36434e; BORDER-BOTTOM: 0px; HEIGHT: 21px
}
INPUT.SmallButtonA:hover {
	BACKGROUND-POSITION: 0px -21px
}
INPUT.SmallButtonBHover {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BACKGROUND: url(btn_b.png) no-repeat 0px -21px; BORDER-LEFT: 0px; WIDTH: 74px; CURSOR: pointer; COLOR: #000000; BORDER-BOTTOM: 0px; HEIGHT: 21px
}
INPUT.SmallButtonB {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BACKGROUND: url(btn_b.png) no-repeat; BORDER-LEFT: 0px; WIDTH: 74px; CURSOR: pointer; COLOR: #36434e; BORDER-BOTTOM: 0px; HEIGHT: 21px
}
INPUT.SmallButtonB:hover {
	BACKGROUND-POSITION: 0px -21px
}
INPUT.SmallButtonCHover {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BACKGROUND: url(btn_c.png) no-repeat 0px -21px; BORDER-LEFT: 0px; WIDTH: 105px; CURSOR: pointer; COLOR: #000000; BORDER-BOTTOM: 0px; HEIGHT: 21px
}
INPUT.SmallButtonC {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BACKGROUND: url(btn_c.png) no-repeat; BORDER-LEFT: 0px; WIDTH: 105px; CURSOR: pointer; COLOR: #36434e; BORDER-BOTTOM: 0px; HEIGHT: 21px
}
INPUT.SmallButtonC:hover {
	BACKGROUND-POSITION: 0px -21px
}
INPUT.SmallButtonDHover {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BACKGROUND: url(btn_d.png) no-repeat 0px -21px; BORDER-LEFT: 0px; WIDTH: 160px; CURSOR: pointer; COLOR: #000000; BORDER-BOTTOM: 0px; HEIGHT: 21px
}
INPUT.SmallButtonD {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BACKGROUND: url(btn_d.png) no-repeat; BORDER-LEFT: 0px; WIDTH: 160px; CURSOR: pointer; COLOR: #36434e; BORDER-BOTTOM: 0px; HEIGHT: 21px
}
INPUT.SmallButtonD:hover {
	BACKGROUND-POSITION: 0px -21px
}
INPUT.SmallButtonEHover {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BACKGROUND: url(btn_e.png) no-repeat 0px -21px; BORDER-LEFT: 0px; WIDTH: 245px; CURSOR: pointer; COLOR: #000000; BORDER-BOTTOM: 0px; HEIGHT: 21px
}
INPUT.SmallButtonE {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BACKGROUND: url(btn_e.png) no-repeat; BORDER-LEFT: 0px; WIDTH: 245px; CURSOR: pointer; COLOR: #36434e; BORDER-BOTTOM: 0px; HEIGHT: 21px
}
INPUT.SmallButtonE:hover {
	BACKGROUND-POSITION: 0px -21px
}
INPUT.BigButtonAHover {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; FONT-SIZE: 12pt; BACKGROUND: url(big_btn_a.png) no-repeat 0px -24px; BORDER-LEFT: 0px; WIDTH: 60px; CURSOR: pointer; COLOR: #000000; BORDER-BOTTOM: 0px; HEIGHT: 24px
}
INPUT.BigButtonA {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; FONT-SIZE: 12pt; BACKGROUND: url(big_btn_a.png) no-repeat; BORDER-LEFT: 0px; WIDTH: 60px; CURSOR: pointer; COLOR: #36434e; BORDER-BOTTOM: 0px; HEIGHT: 24px
}
INPUT.BigButtonA:hover {
	BACKGROUND-POSITION: 0px -24px
}
INPUT.BigButtonBHover {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; FONT-SIZE: 12pt; BACKGROUND: url(big_btn_b.png) no-repeat 0px -24px; BORDER-LEFT: 0px; WIDTH: 84px; CURSOR: pointer; COLOR: #000000; BORDER-BOTTOM: 0px; HEIGHT: 24px
}
INPUT.BigButtonB {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; FONT-SIZE: 12pt; BACKGROUND: url(big_btn_b.png) no-repeat; BORDER-LEFT: 0px; WIDTH: 84px; CURSOR: pointer; COLOR: #36434e; BORDER-BOTTOM: 0px; HEIGHT: 24px
}
INPUT.BigButtonB:hover {
	BACKGROUND-POSITION: 0px -24px
}
INPUT.BigButtonCHover {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; FONT-SIZE: 12pt; BACKGROUND: url(big_btn_c.png) no-repeat 0px -24px; BORDER-LEFT: 0px; WIDTH: 125px; CURSOR: pointer; COLOR: #000000; BORDER-BOTTOM: 0px; HEIGHT: 24px
}
INPUT.BigButtonC {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; FONT-SIZE: 12pt; BACKGROUND: url(big_btn_c.png) no-repeat; BORDER-LEFT: 0px; WIDTH: 125px; CURSOR: pointer; COLOR: #36434e; BORDER-BOTTOM: 0px; HEIGHT: 24px
}
INPUT.BigButtonC:hover {
	BACKGROUND-POSITION: 0px -24px
}
INPUT.BigButtonDHover {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; FONT-SIZE: 12pt; BACKGROUND: url(big_btn_d.png) no-repeat 0px -24px; BORDER-LEFT: 0px; WIDTH: 195px; CURSOR: pointer; COLOR: #000000; BORDER-BOTTOM: 0px; HEIGHT: 24px
}
INPUT.BigButtonD {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; FONT-SIZE: 12pt; BACKGROUND: url(big_btn_d.png) no-repeat; BORDER-LEFT: 0px; WIDTH: 195px; CURSOR: pointer; COLOR: #36434e; BORDER-BOTTOM: 0px; HEIGHT: 24px
}
INPUT.BigButtonD:hover {
	BACKGROUND-POSITION: 0px -24px
}
INPUT.BigButtonEHover {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; FONT-SIZE: 12pt; BACKGROUND: url(big_btn_e.png) no-repeat 0px -24px; BORDER-LEFT: 0px; WIDTH: 305px; CURSOR: pointer; COLOR: #000000; BORDER-BOTTOM: 0px; HEIGHT: 24px
}
INPUT.BigButtonE {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; FONT-SIZE: 12pt; BACKGROUND: url(big_btn_e.png) no-repeat; BORDER-LEFT: 0px; WIDTH: 305px; CURSOR: pointer; COLOR: #36434e; BORDER-BOTTOM: 0px; HEIGHT: 24px
}
INPUT.BigButtonE:hover {
	BACKGROUND-POSITION: 0px -24px
}
INPUT.BigInput {
	BORDER-RIGHT: #c0bbb4 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #c0bbb4 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 10pt; BACKGROUND: url(bg_input_text.png) white repeat-x 0px -1px; PADDING-BOTTOM: 1px; VERTICAL-ALIGN: middle; BORDER-LEFT: #c0bbb4 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #c0bbb4 1px solid
}
TEXTAREA.BigInput {
	BORDER-RIGHT: #c0bbb4 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #c0bbb4 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 10pt; BACKGROUND: url(bg_input_text.png) white repeat-x 0px -1px; PADDING-BOTTOM: 1px; VERTICAL-ALIGN: middle; BORDER-LEFT: #c0bbb4 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #c0bbb4 1px solid
}
INPUT.BigInput:hover {
	BORDER-RIGHT: #99cc00 1px solid; BORDER-TOP: #99cc00 1px solid; FONT-SIZE: 10pt; BACKGROUND: url(bg_input_text_hover.png) white repeat-x left top; BORDER-LEFT: #99cc00 1px solid; BORDER-BOTTOM: #99cc00 1px solid
}
TEXTAREA.BigInput:hover {
	BORDER-RIGHT: #99cc00 1px solid; BORDER-TOP: #99cc00 1px solid; FONT-SIZE: 10pt; BACKGROUND: url(bg_input_text_hover.png) white repeat-x left top; BORDER-LEFT: #99cc00 1px solid; BORDER-BOTTOM: #99cc00 1px solid
}
INPUT.SmallInput {
	BORDER-RIGHT: #c0bbb4 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #c0bbb4 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 9pt; BACKGROUND: url(bg_input_text.png) white repeat-x 0px -1px; PADDING-BOTTOM: 1px; VERTICAL-ALIGN: middle; BORDER-LEFT: #c0bbb4 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #c0bbb4 1px solid
}
TEXTAREA.SmallInput {
	BORDER-RIGHT: #c0bbb4 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #c0bbb4 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 9pt; BACKGROUND: url(bg_input_text.png) white repeat-x 0px -1px; PADDING-BOTTOM: 1px; VERTICAL-ALIGN: middle; BORDER-LEFT: #c0bbb4 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #c0bbb4 1px solid
}
INPUT.SmallInput:hover {
	BORDER-RIGHT: #99cc00 1px solid; BORDER-TOP: #99cc00 1px solid; FONT-SIZE: 9pt; BACKGROUND: url(bg_input_text_hover.png) white repeat-x left top; BORDER-LEFT: #99cc00 1px solid; BORDER-BOTTOM: #99cc00 1px solid
}
TEXTAREA.SmallInput:hover {
	BORDER-RIGHT: #99cc00 1px solid; BORDER-TOP: #99cc00 1px solid; FONT-SIZE: 9pt; BACKGROUND: url(bg_input_text_hover.png) white repeat-x left top; BORDER-LEFT: #99cc00 1px solid; BORDER-BOTTOM: #99cc00 1px solid
}
INPUT.BigInputMoney {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 12pt; BACKGROUND: #f8f8f8; BORDER-LEFT: black 1px solid; COLOR: #006; LINE-HEIGHT: normal; BORDER-BOTTOM: 1px double; FONT-STYLE: normal; HEIGHT: 22px; TEXT-ALIGN: right; FONT-VARIANT: normal
}
INPUT.BigStatic {
	BORDER-RIGHT: #c0bbb4 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #c0bbb4 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 10pt; BACKGROUND: #e0e0e0; PADDING-BOTTOM: 1px; VERTICAL-ALIGN: middle; BORDER-LEFT: #c0bbb4 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #c0bbb4 1px solid
}
TEXTAREA.BigStatic {
	BORDER-RIGHT: #c0bbb4 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #c0bbb4 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 10pt; BACKGROUND: #e0e0e0; PADDING-BOTTOM: 1px; VERTICAL-ALIGN: middle; BORDER-LEFT: #c0bbb4 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #c0bbb4 1px solid
}
INPUT.SmallStatic {
	BORDER-RIGHT: #c0bbb4 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #c0bbb4 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 9pt; BACKGROUND: #e0e0e0; PADDING-BOTTOM: 1px; VERTICAL-ALIGN: middle; BORDER-LEFT: #c0bbb4 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #c0bbb4 1px solid
}
TEXTAREA.SmallStatic {
	BORDER-RIGHT: #c0bbb4 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #c0bbb4 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 9pt; BACKGROUND: #e0e0e0; PADDING-BOTTOM: 1px; VERTICAL-ALIGN: middle; BORDER-LEFT: #c0bbb4 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #c0bbb4 1px solid
}
SELECT.BigSelect {
	BORDER-RIGHT: #c0bbb4 1px solid; BORDER-TOP: #c0bbb4 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 12pt; BACKGROUND: url(bg_input_text.png) white repeat-x left top; BORDER-LEFT: #c0bbb4 1px solid; COLOR: #000066; LINE-HEIGHT: normal; BORDER-BOTTOM: 1px double; FONT-STYLE: normal; HEIGHT: 22px; FONT-VARIANT: normal
}
SELECT.BigSelect:hover {
	BORDER-RIGHT: #c0bbb4 1px solid; BORDER-TOP: #c0bbb4 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 12pt; BACKGROUND: url(bg_input_text_hover.png) white repeat-x left top; BORDER-LEFT: #c0bbb4 1px solid; COLOR: #000066; LINE-HEIGHT: normal; BORDER-BOTTOM: 1px double; FONT-STYLE: normal; HEIGHT: 22px; FONT-VARIANT: normal
}
SELECT.SmallSelect {
	BORDER-RIGHT: #c0bbb4 1px solid; BORDER-TOP: #c0bbb4 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 9pt; BACKGROUND: url(bg_input_text.png) white repeat-x left top; BORDER-LEFT: #c0bbb4 1px solid; COLOR: #000066; LINE-HEIGHT: normal; BORDER-BOTTOM: 1px double; FONT-STYLE: normal; HEIGHT: 18px; FONT-VARIANT: normal
}
SELECT.SmallSelect:hover {
	BORDER-RIGHT: #c0bbb4 1px solid; BORDER-TOP: #c0bbb4 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 9pt; BACKGROUND: url(bg_input_text_hover.png) white repeat-x left top; BORDER-LEFT: #c0bbb4 1px solid; COLOR: #000066; LINE-HEIGHT: normal; BORDER-BOTTOM: 1px double; FONT-STYLE: normal; HEIGHT: 18px; FONT-VARIANT: normal
}
SELECT.BigStatic {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 12pt; BACKGROUND: #e0e0e0; BORDER-LEFT: black 1px solid; COLOR: #000066; LINE-HEIGHT: normal; BORDER-BOTTOM: 1px double; FONT-STYLE: normal; HEIGHT: 22px; FONT-VARIANT: normal
}
SELECT.SmallStatic {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 9pt; BACKGROUND: #e0e0e0; BORDER-LEFT: black 1px solid; COLOR: #000066; LINE-HEIGHT: normal; BORDER-BOTTOM: black 1px solid; FONT-STYLE: normal; HEIGHT: 18px; FONT-VARIANT: normal
}
.TableControl {
	BACKGROUND: #def1f1
}
.TableHeader {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; BACKGROUND: url(list_hd_bg.png); COLOR: #2e2e5a; LINE-HEIGHT: 21px
}
.TableHeader1 {
	BACKGROUND: url(button_back.gif) #d3e5fa; CURSOR: pointer; COLOR: #000066
}
.TableHeader2 {
	FONT-WEIGHT: bold; BACKGROUND: url(menubg.gif) #d3e5fa; CURSOR: pointer; COLOR: #000066
}
.TableContent {
	BACKGROUND: #f0f0f0
}
.TableData {
	BACKGROUND: #ffffff; COLOR: #000000
}
.TableLine1 {
	BACKGROUND: #f3f3f3
}
.TableLine2 {
	BACKGROUND: #ffffff
}
.TextColor1 {
	COLOR: #ff6600
}
.TextColor2 {
	COLOR: #ff0000
}
.top {
	FONT-WEIGHT: bold; COLOR: #ff0000
}
.percent {
	BORDER-RIGHT: #666666 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #666666 1px solid; MARGIN-TOP: 3px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; BORDER-LEFT: #666666 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #666666 1px solid; HEIGHT: 12px
}
.percent DIV {
	FONT-SIZE: 0px; MARGIN: 1px; HEIGHT: 8px
}
.percenttxt {
	MARGIN-TOP: 1px; FONT-SIZE: 9pt; FLOAT: left
}
.s_on {
	FONT-SIZE: 9pt; BACKGROUND: url(/images/topmenubg2.gif)
}
.s_of {
	FONT-SIZE: 9pt; BACKGROUND: url(/images/topmenubg1.gif)
}
.m_on {
	FONT-SIZE: 9pt; BACKGROUND: url(/images/topmenubg2.gif)
}
.border14-1 {
	BORDER-RIGHT: #2e2e5a 1px solid; BORDER-TOP: #2e2e5a 1px solid; FONT-SIZE: 14px; BORDER-LEFT: #2e2e5a 1px solid; BORDER-BOTTOM: #2e2e5a 1px solid
}
.border14-2 {
	BORDER-RIGHT: #2e2e5a 1px solid; FONT-SIZE: 14px; BORDER-BOTTOM: #2e2e5a 1px solid
}
.border14-3 {
	FONT-SIZE: 14px; BORDER-TOP-STYLE: none; BORDER-BOTTOM: #98bbd6 1px solid; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none
}
.border14-4 {
	BORDER-RIGHT: #98bbd6 1px solid; FONT-SIZE: 14px
}
.title_text {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #0a5fa2
}
.table_border {
	BORDER-RIGHT: #98bbd6 1px solid; BORDER-TOP: #98bbd6 1px solid; BORDER-LEFT: #98bbd6 1px solid; BORDER-BOTTOM: black 0px solid
}
.table_bg {
	BORDER-RIGHT: black 1px solid; BACKGROUND-POSITION: left 50%; BORDER-TOP: #2e2e5a 1px solid; BACKGROUND-ATTACHMENT: fixed; BACKGROUND-IMAGE: url(bg_header.png); BORDER-LEFT: black 1px solid; BORDER-BOTTOM: #2e2e5a 0px solid; BACKGROUND-REPEAT: repeat
}
.table_left {
	BACKGROUND-POSITION: left 50%; BACKGROUND-ATTACHMENT: fixed; BACKGROUND-IMAGE: url(table_left.gif); BACKGROUND-REPEAT: no-repeat
}
.attach_name:link {
	COLOR: #0d3a73
}
.attach_name:hover {
	COLOR: #0d3a73
}
.attach_name:active {
	COLOR: #0d3a73
}
.attach_name:visited {
	COLOR: #0d3a73
}
.attach_div {
	BORDER-RIGHT: #83accf 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: 0px; DISPLAY: none; PADDING-LEFT: 0px; Z-INDEX: 10001; BACKGROUND: #ffffff; PADDING-BOTTOM: 0px; BORDER-LEFT: #83accf 1px solid; WIDTH: auto; PADDING-TOP: 0px; BORDER-BOTTOM: #83accf 1px solid; POSITION: absolute
}
.attach_div A {
	PADDING-RIGHT: 0px; BORDER-TOP: #83accf 1px dotted; DISPLAY: block! important; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; MARGIN: 0px 3px 3px; WIDTH: 100%; LINE-HEIGHT: 20px; PADDING-TOP: 3px
}
.attach_div A:hover {
	BORDER-RIGHT: #606275 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #606275 1px solid; PADDING-LEFT: 10px; BACKGROUND: #d6e4ef; PADDING-BOTTOM: 0px; BORDER-LEFT: #606275 1px solid; WIDTH: auto; PADDING-TOP: 3px; BORDER-BOTTOM: #606275 1px solid
}
.TableList {
	BORDER-RIGHT: #83accf 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #83accf 1px solid; PADDING-LEFT: 3px; FONT-SIZE: 9pt; PADDING-BOTTOM: 3px; BORDER-LEFT: #83accf 1px solid; LINE-HEIGHT: 21px; PADDING-TOP: 3px; BORDER-BOTTOM: #83accf 1px solid; BORDER-COLLAPSE: collapse
}
.TableList TD {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; COLOR: #476074; PADDING-TOP: 3px
}
.TableList .TableHeader TD {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; BACKGROUND: url(list_hd_bg.png); PADDING-BOTTOM: 0px; COLOR: #36434e; PADDING-TOP: 0px; BORDER-BOTTOM: #cccccc 1px solid; TEXT-ALIGN: center
}
.TableList TD.TableHeader {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; BACKGROUND: url(list_hd_bg.png); PADDING-BOTTOM: 0px; COLOR: #36434e; PADDING-TOP: 0px; BORDER-BOTTOM: #cccccc 1px solid; TEXT-ALIGN: center
}
.TableList .TableLine1 TD {
	BORDER-TOP: #e4ecf3 1px solid; BACKGROUND: #f8f8f8
}
.TableList TD.TableLine1 {
	BORDER-TOP: #e4ecf3 1px solid; BACKGROUND: #f8f8f8
}
.TableList .TableLine2 TD {
	BORDER-TOP: #e4ecf3 1px solid; BACKGROUND: #ffffff
}
.TableList TD.TableLine2 {
	BORDER-TOP: #e4ecf3 1px solid; BACKGROUND: #ffffff
}
.TableList .TableData TD {
	BORDER-TOP: #e4ecf3 1px solid; BACKGROUND: #ffffff
}
.TableList TD.TableData {
	BORDER-TOP: #e4ecf3 1px solid; BACKGROUND: #ffffff
}
.TableList .TableContent TD {
	BORDER-TOP: #e4ecf3 1px solid; BACKGROUND: #f0f0f0
}
.TableList TD.TableContent {
	BORDER-TOP: #e4ecf3 1px solid; BACKGROUND: #f0f0f0
}
.TableList .TableFooter TD {
	BORDER-RIGHT: #e4ecf3 1px solid; BORDER-TOP: #e4ecf3 1px solid; BACKGROUND: #def1f1; BORDER-LEFT: #e4ecf3 1px solid; BORDER-BOTTOM: #e4ecf3 1px solid
}
.TableList .TableControl TD {
	BORDER-RIGHT: #e4ecf3 1px solid; BORDER-TOP: #e4ecf3 1px solid; BACKGROUND: #def1f1; BORDER-LEFT: #e4ecf3 1px solid; BORDER-BOTTOM: #e4ecf3 1px solid
}
.TableList TD.TableFooter {
	BORDER-RIGHT: #e4ecf3 1px solid; BORDER-TOP: #e4ecf3 1px solid; BACKGROUND: #def1f1; BORDER-LEFT: #e4ecf3 1px solid; BORDER-BOTTOM: #e4ecf3 1px solid
}
.TableList TD.TableControl {
	BORDER-RIGHT: #e4ecf3 1px solid; BORDER-TOP: #e4ecf3 1px solid; BACKGROUND: #def1f1; BORDER-LEFT: #e4ecf3 1px solid; BORDER-BOTTOM: #e4ecf3 1px solid
}
.TableList .TextColor1 TD {
	COLOR: #ff6600
}
.TableList TD.TextColor1 {
	COLOR: #ff6600
}
.TableList .TextColor2 TD {
	COLOR: #ff0000
}
.TableList TD.TextColor2 {
	COLOR: #ff0000
}
.TableBlock {
	BORDER-RIGHT: #83accf 1px solid; BORDER-TOP: #83accf 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #83accf 1px solid; LINE-HEIGHT: 20px; BORDER-BOTTOM: #83accf 1px solid; BORDER-COLLAPSE: collapse
}
.TableBlock TD {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; COLOR: #000000; PADDING-TOP: 3px
}
.TableBlock .TableHeader TD {
	BORDER-RIGHT: #83accf 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #83accf 1px solid; PADDING-LEFT: 0px; FONT-WEIGHT: bold; BACKGROUND: url(block_hd_bg.png); PADDING-BOTTOM: 0px; BORDER-LEFT: #83accf 1px solid; COLOR: #476074; LINE-HEIGHT: 23px; PADDING-TOP: 0px; BORDER-BOTTOM: #83accf 1px solid
}
.TableBlock TD.TableHeader {
	BORDER-RIGHT: #83accf 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #83accf 1px solid; PADDING-LEFT: 0px; FONT-WEIGHT: bold; BACKGROUND: url(block_hd_bg.png); PADDING-BOTTOM: 0px; BORDER-LEFT: #83accf 1px solid; COLOR: #476074; LINE-HEIGHT: 23px; PADDING-TOP: 0px; BORDER-BOTTOM: #83accf 1px solid
}
.TableBlock .TableLine1 TD {
	BORDER-RIGHT: #cfddea 1px solid; BORDER-TOP: #cfddea 1px solid; BACKGROUND: #f8f8f8
}
.TableBlock TD.TableLine1 {
	BORDER-RIGHT: #cfddea 1px solid; BORDER-TOP: #cfddea 1px solid; BACKGROUND: #f8f8f8
}
.TableBlock .TableLine2 TD {
	BORDER-RIGHT: #cfddea 1px solid; BORDER-TOP: #cfddea 1px solid; BACKGROUND: #ffffff
}
.TableBlock TD.TableLine2 {
	BORDER-RIGHT: #cfddea 1px solid; BORDER-TOP: #cfddea 1px solid; BACKGROUND: #ffffff
}
.TableBlock .TableData TD {
	BORDER-RIGHT: #cfddea 1px solid; BORDER-TOP: #cfddea 1px solid; BACKGROUND: #ffffff
}
.TableBlock TD.TableData {
	BORDER-RIGHT: #cfddea 1px solid; BORDER-TOP: #cfddea 1px solid; BACKGROUND: #ffffff
}
.TableBlock .TableContent TD {
	BORDER-RIGHT: #cfddea 1px solid; BORDER-TOP: #cfddea 1px solid; BACKGROUND: #f0f0f0
}
.TableBlock TD.TableContent {
	BORDER-RIGHT: #cfddea 1px solid; BORDER-TOP: #cfddea 1px solid; BACKGROUND: #f0f0f0
}
.TableBlock .TableFooter TD {
	BORDER-RIGHT: #cfddea 1px solid; BORDER-TOP: #cfddea 1px solid; BACKGROUND: #def1f1; BORDER-LEFT: #cfddea 1px solid; BORDER-BOTTOM: #cfddea 1px solid
}
.TableBlock .TableControl TD {
	BORDER-RIGHT: #cfddea 1px solid; BORDER-TOP: #cfddea 1px solid; BACKGROUND: #def1f1; BORDER-LEFT: #cfddea 1px solid; BORDER-BOTTOM: #cfddea 1px solid
}
.TableBlock TD.TableFooter {
	BORDER-RIGHT: #cfddea 1px solid; BORDER-TOP: #cfddea 1px solid; BACKGROUND: #def1f1; BORDER-LEFT: #cfddea 1px solid; BORDER-BOTTOM: #cfddea 1px solid
}
.TableBlock TD.TableControl {
	BORDER-RIGHT: #cfddea 1px solid; BORDER-TOP: #cfddea 1px solid; BACKGROUND: #def1f1; BORDER-LEFT: #cfddea 1px solid; BORDER-BOTTOM: #cfddea 1px solid
}
.Content {
	LINE-HEIGHT: normal
}
.TableControl A {
	COLOR: #0066cc; TEXT-DECORATION: none
}
.TableBlock .TableRowHover TD {
	BACKGROUND: #d6e4ef
}
.TableBlock TD.TableRowHover {
	BACKGROUND: #d6e4ef
}
.TableBlock .TableRowActive TD {
	BACKGROUND: #83accf; COLOR: #ffffff
}
.TableBlock TD.TableRowActive {
	BACKGROUND: #83accf; COLOR: #ffffff
}
.MessageBox {
	BORDER-RIGHT: #83accf 1px dotted; BORDER-TOP: #83accf 1px dotted; MARGIN-TOP: 15px; BACKGROUND: #ffffff; MARGIN-BOTTOM: 15px; BORDER-LEFT: #83accf 1px dotted; BORDER-BOTTOM: #83accf 1px dotted; HEIGHT: 90px
}
.MessageBox TD.msg {
	PADDING-RIGHT: 20px; PADDING-LEFT: 90px; FONT-WEIGHT: bold; PADDING-BOTTOM: 10px; PADDING-TOP: 5px
}
.MessageBox TD.msg H4.title {
	FONT-SIZE: 18pt; MARGIN-BOTTOM: 10px; COLOR: #36434e; BORDER-BOTTOM: #83accf 1px dotted
}
.MessageBox TD.msg DIV.content {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; COLOR: #ebbf47; BORDER-BOTTOM: medium none
}
.MessageBox TD.error {
	BACKGROUND: url(/images/icon64_error.png) no-repeat 10px 10px
}
.MessageBox TD.info {
	BACKGROUND: url(/images/icon64_info.png) no-repeat 10px 10px
}
.MessageBox TD.warning {
	BACKGROUND: url(/images/icon64_warning.png) no-repeat 10px 10px
}
.MessageBox TD.forbidden {
	BACKGROUND: url(/images/icon64_forbidden.png) no-repeat 10px 10px
}
.MessageBox TD.stop {
	BACKGROUND: url(/images/icon64_stop.png) no-repeat 10px 10px
}
.MessageBox TD.blank {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; HEIGHT: 40px; TEXT-ALIGN: center
}
