/*Tab1*/
#lib_Tab1{
	width:100%;
	margin:0px;
	padding:0px;
	margin-bottom:15px;
}
/*Tab2*/
#lib_Tab2{
width:576px;
margin:0px;
padding:0px;
margin-bottom:15px;
}
.lib_tabborder{
}
.lib_Menubox {
height:40px;
line-height:40px;
	background-image: url('../images/xuanxiangka/tit01_center.jpg');
	background-repeat:repeat-x;
	background-position: left top;
	position:relative;}
.lib_Menubox ul{
	width:100%;
	margin:0px;
	padding:0px;
	list-style:none; 
	position:absolute; 
	left:0; 
	height:40px;
	text-align:center;
	background-image: url('../images/xuanxiangka/tit01_right.jpg');
	background-repeat:no-repeat;
	background-position: right top;
}
.lib_Menubox li{
	float: left;
	display: block;
	cursor: pointer;
	width: 130px;
	color: #949694;
	font-weight: bold;
	margin-right: 2px;
	height: 40px;
	line-height: 40px;
	font-size: 10pt;
	border-left-style: dotted;
	border-left-width: 1px;
	border-left-color: #B6B6B6;
}
.lib_tabborder li span{
	width:100%;
	height: 40px;
	display:block;
	line-height: 40px;
	text-align:center;
}
li#one1,li.tit_bj_left{
	border:none;
}
li#one1 span{
	background-image: url('../images/xuanxiangka/ico_01.jpg');
	background-repeat:no-repeat;
	background-position: 90px center;
}
/**/
li#one2 span{
	background-image: url('../images/xuanxiangka/ico_02.jpg');
	background-repeat:no-repeat;
	background-position: 90px center;
}
li#one3 span{
	background-image: url('../images/xuanxiangka/ico_03.jpg');
	background-repeat:no-repeat;
	background-position: 90px center;
}

li.tit_bj_left{
	width:12px;
	background-image: url('../images/xuanxiangka/tit01_left.jpg');
	background-repeat:no-repeat;
	background-position: left top;
}

/*  www.codefans.net */
.lib_Menubox li.hover,li#one1.hover,li#one2.hover,li#one3.hover{
	padding:0px;
	width:130px;
	color:#333;
	background-image: url('../images/xuanxiangka/tit01_hover.jpg');
	background-repeat:no-repeat;
	background-position: center top;
}
.lib_Contentbox{
	border: 1px solid #C0C0C0;
	clear: both;
	margin-top: 0px;
	border-top: none;
	border-bottom: none;
	height: 100%;
	text-align: center;
	padding-top:5px;
	padding-bottom:6px;
	background-color:#fff;
}
.lib_Contentbox2{
	border: 1px solid #C0C0C0;
	clear: both;
	margin-top: 0px;
	border-top: none;
	height: 100%;
	text-align: center;
	padding-top:0px;
	padding-bottom:6px;
	background-color:#fff;
}

/*内容区*/
.text_div{
width:100%;
height:auto;
display:block;
overflow:hidden;
}

/*蓝色标签选项卡*/
.nTab{
	
	width: 100%;
	margin: 0 auto;	
	margin-bottom:10px;
	padding-top:6px;
}
.nTab .TabTitle{
	clear: both;
	height: 28px;
	border-bottom:2px #1883D5 solid;
	overflow: hidden;
	font-size: 12px;
}
.nTab .TabTitle ul{
	border:0;
	margin:0;
	padding:0;
}
.nTab .TabTitle li{
	float: left;
	width: 100px;
	cursor: pointer;
	padding-top: 8px;
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 6px;
	list-style-type: none;
	margin:0 3px 0 0;
}
.nTab .TabTitle .active{background:#1883D5;color:#fff;}
.nTab .TabTitle .normal{background:#eee;}
.nTab .TabContent{
	width:auto;
	margin: 0px auto;
	padding:0px;
	border:0px #000 solid;
}
.none {display:none;}

/*蓝色标签选项卡结束*/
