INPUT.formText {
	BORDER-RIGHT: #e1e1e1 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #999999 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #999999 1px solid; WIDTH: 180px; PADDING-TOP: 5px; BORDER-BOTTOM: #e1e1e1 1px solid
}
INPUT.formText:hover {
	BORDER-RIGHT: #ff9b1f 1px solid; BORDER-TOP: #ff9b1f 1px solid; BORDER-LEFT: #ff9b1f 1px solid; BORDER-BOTTOM: #ff9b1f 1px solid; BACKGROUND-COLOR: #fefbf7
}
INPUT.formText:unknown {
	BACKGROUND-COLOR: #fff8ef
}
TEXTAREA.formTextarea {
	BORDER-RIGHT: #e1e1e1 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #999999 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #999999 1px solid; WIDTH: 350px; PADDING-TOP: 5px; BORDER-BOTTOM: #e1e1e1 1px solid; HEIGHT: 120px
}
TEXTAREA.formTextarea:hover {
	BORDER-RIGHT: #ff9b1f 1px solid; BORDER-TOP: #ff9b1f 1px solid; BORDER-LEFT: #ff9b1f 1px solid; BORDER-BOTTOM: #ff9b1f 1px solid; BACKGROUND-COLOR: #fefbf7
}
TEXTAREA.formTextarea:unknown {
	BACKGROUND-COLOR: #fff8ef
}
.formButton {
	FONT-SIZE: 12px; BACKGROUND: url(../images/base_button.gif) no-repeat 0px 0px; WIDTH: 70px; CURSOR: pointer; COLOR: #555555; BORDER-TOP-STYLE: none; LINE-HEIGHT: 28px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 28px; TEXT-ALIGN: center; BORDER-BOTTOM-STYLE: none; outline: none
}
.formButton:hover {
	BACKGROUND: url(../images/base_button.gif) no-repeat -90px 0px; COLOR: #ff9900
}
A.formButton {
	DISPLAY: inline; ZOOM: 1
}
A.formButton:hover {
	BACKGROUND: url(../images/base_button.gif) no-repeat -90px 0px; COLOR: #000000
}
TEXTAREA.editor {
	WIDTH: 100%
}
.trueIcon {
	DISPLAY: inline; BACKGROUND: url(../images/base_icon.gif) no-repeat 0px 0px; WIDTH: 24px; LINE-HEIGHT: 24px; ZOOM: 1; HEIGHT: 24px
}
.falseIcon {
	DISPLAY: inline; BACKGROUND: url(../images/base_icon.gif) no-repeat 0px -60px; WIDTH: 24px; LINE-HEIGHT: 24px; ZOOM: 1; HEIGHT: 24px
}
.addIcon {
	DISPLAY: inline; BACKGROUND: url(../images/base_icon.gif) no-repeat 0px -120px; WIDTH: 24px; CURSOR: pointer; LINE-HEIGHT: 24px; ZOOM: 1; HEIGHT: 24px
}
.removeIcon {
	DISPLAY: inline; BACKGROUND: url(../images/base_icon.gif) no-repeat 0px -180px; WIDTH: 24px; CURSOR: pointer; LINE-HEIGHT: 24px; ZOOM: 1; HEIGHT: 24px
}
.upIcon {
	DISPLAY: inline; BACKGROUND: url(../images/base_icon.gif) no-repeat 0px -240px; WIDTH: 24px; CURSOR: pointer; LINE-HEIGHT: 24px; ZOOM: 1; HEIGHT: 24px
}
.downIcon {
	DISPLAY: inline; BACKGROUND: url(../images/base_icon.gif) no-repeat 0px -300px; WIDTH: 24px; CURSOR: pointer; LINE-HEIGHT: 24px; ZOOM: 1; HEIGHT: 24px
}
.deleteIcon {
	DISPLAY: inline; BACKGROUND: url(../images/base_icon.gif) no-repeat 0px -360px; WIDTH: 24px; CURSOR: pointer; LINE-HEIGHT: 24px; ZOOM: 1; HEIGHT: 24px
}
.warnIcon {
	DISPLAY: inline; BACKGROUND: url(../images/base_icon.gif) no-repeat 0px -480px; WIDTH: 16px; LINE-HEIGHT: 29px; ZOOM: 1; HEIGHT: 29px
}
.loadingIcon {
	DISPLAY: inline; BACKGROUND: url(../images/base_loading_icon.gif) no-repeat center 50%; WIDTH: 20px; LINE-HEIGHT: 20px; ZOOM: 1; HEIGHT: 20px
}
.dialogOverlay {
	DISPLAY: none; Z-INDEX: 99; BACKGROUND: url(../images/base_overlay_bg.png); FILTER: alpha(opacity = 50); LEFT: 0px; WIDTH: 100%; ZOOM: 1; POSITION: fixed; TOP: 0px; HEIGHT: 100%; moz-opacity: 0.50; opacity: 0.50
}
 HTML .dialogOverlay {
	POSITION: absolute; TOP: 0px
}
.baseDialog {
	PADDING-RIGHT: 5px; DISPLAY: none; PADDING-LEFT: 5px; Z-INDEX: 100; LEFT: 50%; PADDING-BOTTOM: 5px; OVERFLOW: hidden; PADDING-TOP: 5px; POSITION: fixed; TOP: 25%
}
 HTML .baseDialog {
	POSITION: absolute; ; TOP: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(25 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px')
}
.baseDialog .dialogWrap {
	Z-INDEX: -1; FILTER: alpha(opacity = 15); LEFT: 0px; WIDTH: 1000px; POSITION: absolute; TOP: 0px; HEIGHT: 1000px; BACKGROUND-COLOR: #000000; moz-opacity: 0.15; opacity: 0.15
}
.baseDialog .dialogMain {
	BORDER-RIGHT: #779cb0 1px solid; BORDER-TOP: #779cb0 1px solid; BACKGROUND: url(../images/base_x_bg.gif) #ffffff repeat-x 0px -120px; BORDER-LEFT: #779cb0 1px solid; BORDER-BOTTOM: #779cb0 1px solid
}
.baseDialog .dialogTitle {
	CLEAR: both; PADDING-LEFT: 10px; FONT-WEIGHT: bold; BACKGROUND: url(../images/base_x_bg.gif) repeat-x 0px 0px; CURSOR: move; COLOR: #666666; LINE-HEIGHT: 40px; HEIGHT: 40px
}
.baseDialog .dialogClose {
	RIGHT: 10px; BACKGROUND: url(../images/base_button.gif) no-repeat -180px 0px; WIDTH: 25px; CURSOR: pointer; POSITION: absolute; TOP: 5px; HEIGHT: 19px
}
.baseDialog .dialogClose:hover {
	BACKGROUND-POSITION: -240px 0px
}
.baseDialog .dialogContent {
	CLEAR: both; MARGIN: 40px 50px; LINE-HEIGHT: 30px
}
.baseDialog .dialogwarnIcon {
	PADDING-LEFT: 30px; BACKGROUND: url(../images/base_icon.gif) no-repeat 0px -540px
}
.baseDialog .dialogsuccessIcon {
	PADDING-LEFT: 30px; BACKGROUND: url(../images/base_icon.gif) no-repeat 0px -740px
}
.baseDialog .dialogerrorIcon {
	PADDING-LEFT: 30px; BACKGROUND: url(../images/base_icon.gif) no-repeat 0px -940px
}
.baseDialog .dialogButtonArea {
	CLEAR: both; BACKGROUND: url(../images/base_x_bg.gif) repeat-x 0px -60px; PADDING-TOP: 6px; HEIGHT: 34px; TEXT-ALIGN: center
}
.baseDialog .dialogButtonArea INPUT {
	MARGIN: 0px 10px
}
.baseDialog .dialogButtonArea .formButton {
	FONT-SIZE: 12px; BACKGROUND: url(../images/base_button.gif) no-repeat 0px 0px; WIDTH: 70px; CURSOR: pointer; COLOR: #000000; BORDER-TOP-STYLE: none; LINE-HEIGHT: 28px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 28px; TEXT-ALIGN: center; BORDER-BOTTOM-STYLE: none; outline: none
}
.baseDialog .dialogButtonArea .formButton:hover {
	BACKGROUND: url(../images/base_button.gif) no-repeat -90px 0px; COLOR: #ff9900
}
.baseDialog .dialogIframe {
	Z-INDEX: -1; FILTER: Alpha(Opacity = 0); LEFT: 0px; POSITION: absolute; TOP: 0px
}
.baseMessage {
	BORDER-RIGHT: #ffaa71 2px solid; PADDING-RIGHT: 15px; BORDER-TOP: #ffaa71 2px solid; DISPLAY: none; PADDING-LEFT: 10px; Z-INDEX: 1000; LEFT: 50%; PADDING-BOTTOM: 5px; BORDER-LEFT: #ffaa71 2px solid; COLOR: #000000; PADDING-TOP: 5px; BORDER-BOTTOM: #ffaa71 2px solid; POSITION: fixed; TOP: 35%; BACKGROUND-COLOR: #fff5ee
}
 HTML .baseMessage {
	POSITION: absolute; ; TOP: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(35 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px')
}
.baseMessage .messagewarnIcon {
	PADDING-LEFT: 30px; BACKGROUND: url(../images/base_icon.gif) no-repeat 0px -540px
}
.baseMessage .messagesuccessIcon {
	PADDING-LEFT: 30px; BACKGROUND: url(../images/base_icon.gif) no-repeat 0px -740px
}
.baseMessage .messageerrorIcon {
	PADDING-LEFT: 30px; BACKGROUND: url(../images/base_icon.gif) no-repeat 0px -940px
}
.baseMessage .messageContent {
	LINE-HEIGHT: 30px
}
.baseMessage .messageIframe {
	Z-INDEX: -1; FILTER: Alpha(Opacity = 0); LEFT: 0px; POSITION: absolute; TOP: 0px
}
.validateErrorContainer {
	CLEAR: both; BORDER-RIGHT: #febe8f 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #febe8f 1px solid; DISPLAY: none; PADDING-LEFT: 8px; PADDING-BOTTOM: 5px; MARGIN: 5px; BORDER-LEFT: #febe8f 1px solid; LINE-HEIGHT: 20px; PADDING-TOP: 5px; BORDER-BOTTOM: #febe8f 1px solid; BACKGROUND-COLOR: #fff8d9
}
.validateErrorContainer .validateErrorTitle {
	CLEAR: both; PADDING-LEFT: 35px; FONT-WEIGHT: bold; BACKGROUND: url(../images/base_icon.gif) no-repeat 0px -540px; LINE-HEIGHT: 30px; HEIGHT: 30px
}
.validateErrorContainer LI {
	PADDING-LEFT: 35px
}
INPUT.validateError {
	BORDER-RIGHT: #ff9b10 1px dotted; BORDER-TOP: #ff9b10 1px dotted; BORDER-LEFT: #ff9b10 1px dotted; BORDER-BOTTOM: #ff9b10 1px dotted; BACKGROUND-COLOR: #fff8ef
}
SELECT.validateError {
	BORDER-RIGHT: #ff9b10 1px dotted; BORDER-TOP: #ff9b10 1px dotted; BORDER-LEFT: #ff9b10 1px dotted; BORDER-BOTTOM: #ff9b10 1px dotted; BACKGROUND-COLOR: #fff8ef
}
.warnInfo {
	BORDER-RIGHT: #ffca80 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #ffca80 1px solid; PADDING-LEFT: 20px; BACKGROUND: url(../images/base_icon.gif) #fffee2 no-repeat 0px -420px; PADDING-BOTTOM: 5px; BORDER-LEFT: #ffca80 1px solid; LINE-HEIGHT: 30px; PADDING-TOP: 5px; BORDER-BOTTOM: #ffca80 1px solid
}
.loadingBar {
	DISPLAY: inline; BACKGROUND: url(../images/base_loading_bar.gif) no-repeat center 50%; WIDTH: 208px; LINE-HEIGHT: 20px; ZOOM: 1; HEIGHT: 20px
}
HTML {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DIV {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
SPAN {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
OBJECT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
IFRAME {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H6 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
BLOCKQUOTE {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
PRE {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
abbr {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
ACRONYM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
ADDRESS {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
CODE {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DEL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DFN {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
EM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
IMG {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
Q {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
OL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
FIELDSET {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
LABEL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
LEGEND {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
TABLE {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
CAPTION {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
TBODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
TFOOT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
THEAD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
TR {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
TH {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
HTML {
	FONT: 12px tahoma, Arial, "ו", Verdana, sans-serif; WIDTH: 100%; HEIGHT: 100%; BACKGROUND-COLOR: #ffffff
}
BODY {
	FONT: 12px tahoma, Arial, "ו", Verdana, sans-serif; WIDTH: 100%; HEIGHT: 100%; BACKGROUND-COLOR: #ffffff
}
 HTML {
	BACKGROUND-ATTACHMENT: fixed; BACKGROUND-IMAGE: url(about:blank)
}
 HTML BODY {
	BACKGROUND-ATTACHMENT: fixed; BACKGROUND-IMAGE: url(about:blank)
}
A {
	COLOR: #656d77; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ff6600; TEXT-DECORATION: none
}
IMG {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
TABLE {
	BORDER-COLLAPSE: collapse; border-spacing: 0
}
UL {
	LIST-STYLE-TYPE: none
}
INPUT {
	VERTICAL-ALIGN: middle
}
SELECT {
	VERTICAL-ALIGN: middle
}
LABEL {
	VERTICAL-ALIGN: middle
}
PRE {
	WORD-BREAK: break-all; WORD-WRAP: break-word
}
.white {
	COLOR: white
}
.black {
	COLOR: black
}
.gray {
	COLOR: gray
}
.blue {
	COLOR: blue
}
.green {
	COLOR: green
}
.red {
	COLOR: red
}
.blank {
	CLEAR: both; OVERFLOW: hidden; WIDTH: 100%; HEIGHT: 10px
}
.clear {
	CLEAR: both; OVERFLOW: hidden; WIDTH: 100%; HEIGHT: 0px
}
.hidden {
	DISPLAY: none
}
.lineThrough {
	TEXT-DECORATION: line-through
}
.pointer {
	CURSOR: pointer
}
